.about-melo {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 20px auto;
    padding: 0 5%;
    text-align: center;
}

.about-melo img {
    max-width: 34%;
    border-radius: 8%;
    margin-right: 20px; 
}

.about-melo p {
    flex: 1;
    margin: 0; 
    text-align: left; 
}

@media (max-width: 768px) {
    .about-melo{
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 85%;
        margin: 20px auto; 
        padding: 0 5%; 
        text-align: center; 
    }
    }
  
    @media (max-width: 768px) {
        .about-melo img {
            max-width: 100%;
            border-radius: 8%;
            margin-bottom: 20px;
        }
    }
 
    
  /* melo service */
.product {
    position: relative;
    display: inline-block;
    padding-left: 30%; 
    margin-top: 22px;
  }
  
  .product img {
    width: 80%;
    max-width: 85%;
    height: auto;
  }
  
  .product h2 {
    position: absolute;
     margin-top: -30px;
    padding-left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 4vw; /* Responsive font size based on viewport width */
    color: black;
    font-weight: bold;
    
    font-family: 'Times New Roman', Times, serif;
  }

  @media (max-width: 768px) {
    .product img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto;
        padding-right: 50px;
      }
      .product h2 {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: -10px auto;
        padding-right: 20px;
      }
}

