.cblink-ltd {
    display: flex;
    gap: 30px;
    width: 90%;
    gap: 30px;
  
  }
  
  /* .col-3 {
    flex: 1;
   
  } */
  
  .description {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .description img {
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .description h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 3px;
  }
  
  .description h2.text-xl {
    font-size: 20px;
    margin-top: -3rem;
    padding-left: 5rem;
  }
  
  .description h2.text-lg {
    font-size: 18px;
    color: #999;
    padding-left: 5rem;
  }
  
  .description span {
    display: block;
    color: #333;
    font-size: 17px;
    margin-top: '-6rem'
  
  }


  
  /* Styles for the quote icons */
  .block {
    position: relative;
    padding-left: 23px; 
    color: 'red';
    top: -20px;
  }
  
  /* .block svg {
    
   
  }
   */